<footer class="footer footer-center bg-base-300 text-base-content p-6 mt-10 rounded-t-xl">
    <aside>
        <p class="text-xs opacity-50 mt-1 flex flex-wrap justify-center gap-2">
            <span>Copyright © {% now "Y" %} </span>

            <span class="hidden sm:inline">·</span>

            <a href="https://beian.miit.gov.cn/" target="_blank"
               class="hover:underline hover:text-primary transition-colors">
                {{ config.ICP_NUMBER }}
            </a>

            <span class="hidden sm:inline">·</span>
            <a href="#"
               class="hover:underline hover:text-primary transition-colors">
                Designed & Developed by Yuanming
            </a>
        </p>
    </aside>
</footer>